{% extends 'base.html.twig' %}

{% block title %}Edit PlayerPerformance{% endblock %}

{% block body %}
    <h1>Edit PlayerPerformance</h1>

    {{ include('player_performance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_player_performance_index') }}">back to list</a>

    {{ include('player_performance/_delete_form.html.twig') }}
{% endblock %}
