{% extends 'base.html.twig' %}

{% block title %}New PlayerPerformance{% endblock %}

{% block body %}
    <h1>Create new PlayerPerformance</h1>

    {{ include('player_performance/_form.html.twig') }}

    <a href="{{ path('app_player_performance_index') }}">back to list</a>
{% endblock %}
