{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1>Welcome {{ user.name }}!</h1>
    <p>Please set your password by clicking the link below:</p>

    <p>
        <a href="{{ url('app_password_reset', {token: token}) }}">
            Set Your Password
        </a>
    </p>

    <p>This link will expire on {{ expires_at|date('F j, Y H:i') }}.</p>

    <p>If you didn't request this, please ignore this email.</p>
{% endblock %}
